* {
    font-family: sans-serif;
    font-weight: bold;
}

 a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none ;
    
}

.bg-deliv {
    background-color: #00ccbc;
}

.text-deliv {
    color: #00ccbc;
}
.logo {
    min-width: 150px;
}

.menu {
    border: 1px solid rgba(128, 128, 128, 0.411);
}

#ricerca {
    width: 70%;
}

.background-gray {
    background-color: rgba(201, 201, 201, 0.24);
    padding-bottom: 600px;
}

.text-gray {
    color: rgba(128, 128, 128, 0.568);
}

.annunci {
    border-top: 1px solid rgba(128, 128, 128, 0.534);
}

.casetta {
    background-image: url(../img/city-illustration.3d5f84e.svg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;   
}

.vantaggi {
    background-image: url("https://riders.deliveroo.it/_nuxt/img/aubergine-pattern.b1fcbb0.png");
}

.footer-link a {
    color: white;
}


/*      HOVER       */
.navbar a:hover {
    color: #00ccbc;
}

.menu a{
    color: #00ccbc;
}

#scopri:hover {
    text-decoration: underline;
    color: #00ccbc;
}

.card {
  position: relative;
  top: 0;
  transition: top ease 0.2s;
}
.card:hover {
  top: -5px;
}

#title-feste:hover {
    color: #00ccbc;
    transition: 0.2s;
}

#faq:hover {
    color: #00ccbc;
}

.annunci:hover {
    border-top: 1px solid #00ccbb98;
}

.footer-link a:hover {
    color: #00ccbc;
}

.menu:hover {
    border: 1px solid rgba(128, 128, 128, 0.719);
}

.cici:hover .fa-arrow-right-long{
    margin-right: -10px;
    margin-left: 10px;
    transition: 0.7s;
}

.cici a:hover {
    text-decoration: underline;
    transition: 0.7s;
    color: #00ccbc;
}

/*      DISPLAY NONE media query       */
@media screen and (max-width: 1000px) {
  .navbar {
    display: none;
  }
}
